@model FilmOpgave_WEXO.Domain.Models.Movie

<h2>@Model.Title</h2>
<img src="@($"https://image.tmdb.org/t/p/w500{Model.PosterPath}")" alt="@Model.Title" />

<p>@Model.Overview</p>
<p>Release Date: @Model.ReleaseDate</p>
<p>Rating: @Model.VoteAverage / 10</p>